{% load widget_tweaks %}
<div class="form-group">
    <label for="id_{{ field.name }}" class="b-label">{{ field.label|default:'Другое' }}:</label>
    {% if field.errors %}
        {{ field|add_class:"form-control error_border" }}{{ field.errors }}
    {% else %}
        {{ field|add_class:"form-control" }}
    {% endif %}
</div>