{% extends 'base.html' %}
{% load cms %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Добавить пост</h1>

        <div class="col-sm-6 col-md-4">
            <div class="box-body">
              <form role="form" action="{% url 'create_post' %}" method="post">
                    {% csrf_token %}
                    {% lite_include '_includes/input_text.html' field=form.title %}
                    {% lite_include '_includes/input_text.html' field=form.text %}
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
              </form>
            </div>
        </div>
    </div>
{% endblock %}