{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h1 class="page-header">Блоги</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
                {% include 'paginate.html' %}
            </div>
        </div>

    {% for blog in blogs %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>Блог {{ blog.user.username }}</h3>
                {% if user.is_authenticated %}
                    {% if user.id in blog.user_list %}
                        <a href="" class="btn btn-default" role="button" onclick="return subscribe('{{blog.id}}')" id="btn-{{blog.id}}">Отписаться</a>
                    {% else %}
                        <a href="" class="btn btn-default" role="button" onclick="return subscribe('{{blog.id}}')" id="btn-{{blog.id}}">Подписаться</a>
                    {% endif %}
                {% endif %}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}