{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <h1 class="page-header">Посты</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-right">
                {% include 'paginate.html' %}
            </div>
        </div>

    {% for post in posts %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{ post.title }}</h3>
                {% if user.is_authenticated %}
                    {% if user.id in post.user_list %}
                        <a href="" class="btn btn-default" role="button" disabled="">Прочитан</a>
                    {% else %}
                        <a href="{% url 'read_post' post.id %}" class="btn btn-default" role="button" >Прочитать</a>
                    {% endif %}
                {% endif %}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}