{% extends 'base.html' %}
{% load cms %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">{{postblog.title}}</h1>

        <div class="col-sm-6 col-md-4">
            <div class="box-body">
              {% autoescape off %}
                {{ postblog.text}}
              {% endautoescape %}
            </div>
        </div>
    </div>
{% endblock %}